[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
[submodule "substrait/function-extensions"]
	path = substrait/function-extensions
	url = https://github.com/drin/substrait-function-extensions.git
